body {
    background-color: #2b2b2b;
}

#canvas {
    margin-top: 10px;
    border-radius: 10px;
}

#fps {
    font-family: "Font1";
    color: #fff;
    font-size: 40px;
    margin-left: 30px;
    margin-top: 30px;
    position:absolute;

}

#game-over-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px;
    height: 700px;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(59, 59, 59, 0.748);
    margin-top: 55px;
    border-radius: 20px;

    font-family: "Font1";
    color: #fff;
    font-size: 60px;

    z-index: 1;
}

.edit-button {
    padding: 15px;
    margin: 20px;
    background-color: rgb(177, 255, 190);
    border: none;
    border-radius: 10px;
    font-family: "Font1";
    font-size: 30px;
}

.stat-pad {
    padding: 15px;
    margin: 20px;
    background-color: rgb(41, 255, 76);
    border: none;
    border-radius: 10px;
    font-family: "Font1";
    font-size: 30px;
}

.edit-button:hover {
    background-color: black;
    color: white;
}

#top-bar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@font-face {
    font-family: "Font1";
    src: url("../../Fonts/square.ttf") format("truetype");
    font-display: swap;
}